@charset "utf-8";

/* Mobile first Layout */
body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    margin: 0;
}

main {
    padding: 1rem;
}

/* Header and Footer */
header,
footer {
    background-color: #f8f9fa;
}
#header {
  height: 40px;
  background-color: #f8f9fa;
}

footer p {
    padding: 0;
    margin: 0;
}

/* Container */
.container-sm {
    max-width: 80%;
}

/* Side Bar */
#side-bar {
    height: calc(100vh - 40px);
    overflow-y: auto;
}
#side-bar .nav-link.active {
  font-weight: bold;
  color: #0d6efd; /* Bootstrap primary color */
}