@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

// Automoblox Utilities
:root {
    --automoblox-red: #C8102E;
    --automoblox-black: #000000;
    --automoblox-gray: #F2F2F2;
    --automoblox-dark-gray: #333333;
}

// Automoblox Palette
$primary: #C8102E; // Automoblox red
$secondary: #333333; // dark gray
$light: #F2F2F2; // neutral gray
$dark: #000000; // black

$body-bg: $light;
$body-color: $secondary;

// Automoblox Typography
$font-family-sans-serif: 'Roboto', Helvetica, Arial, sans-serif;
$headings-font-family: 'Bebas Neue', sans-serif;
$headings-font-weight: 700;

// Font Sizes
$font-size-base: 1rem;
$h1-font-size: 2rem;
$h2-font-size: 1.5rem;
$h3-font-size: 1.25rem;
$h4-font-size: 1rem;
$h5-font-size: 0.875rem;
$h6-font-size: 0.75rem;

// Layout variables
$header-height: 40px;
$header-bg: #f8f9fa;
// Bootstrap imports
@import "../node_modules/bootstrap/scss/bootstrap";

// Buttons
.btn-automoblox {
    @include button-variant($primary, $white);
    font-weight: 700;
}

.btn-automoblox-outline {
    @include button-outline-variant($primary);
    font-weight: 700;
}

// Headings
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $headings-font-family;
    font-weight: $headings-font-weight;
    color: $dark;
}

h1 {
    padding-top: 1rem;
}

// Utility classes
.text-automoblox-red {
    color: var(--automoblox-red);
}

.text-automoblox-black {
    color: var(--automoblox-black);
}

.text-automoblox-dark {
    color: var(--automoblox-dark-gray);
}

.bg-automoblox-red {
    background-color: var(--automoblox-red);
}

.bg-automoblox-gray {
    background-color: var(--automoblox-gray);
}

.bg-automoblox-black {
    background-color: var(--automoblox-black);
}


// Layout
body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    margin: 0;
}

main {
    padding: 1rem;
}

// Header and Footer
header,
footer {
    background-color: $header-bg;
}

header {
    box-shadow: 0px 1px 8px 0px #A2A2A2;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1030;
    background-color: $header-bg;
}

footer {
    box-shadow: 0px -2px 8px 0px rgba(162, 162, 162, 0.5);
}



// navbar
.navbar .nav-link {
    font-weight: normal;
    color: $secondary;
    text-decoration: none;
    transition: color 0.25s ease, font-weight 0.25s ease;

    &:hover,
    &:focus {
        color: $primary;
    }

    &:active {
        color: $dark;
    }

    &.active {
        font-weight: bold;
        color: $primary;
    }
}

footer {
    p {
        padding: 0;
        margin: 0;
    }
}

// Container
.container-sm {
    max-width: 80%;
}

// Side Bar
#side-bar {
    height: calc(100vh - #{$header-height});
    overflow-y: auto;

    .nav-link {
        &.active {
            font-weight: bold;
            color: $primary;
        }
    }
}

/* Layout */
body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    margin: 0;
}

main {
    padding: 1rem;
}

/* Header and Footer */
header,
footer {
    background-color: #f8f9fa;
}

#header {
    height: $header-height;
    background-color: #f8f9fa;
}

footer p {
    padding: 0;
    margin: 0;
}

/* Container */
.container-sm {
    max-width: 80%;
}

/* Side Bar */
#side-bar {
    height: calc(100vh - 40px);
    overflow-y: auto;
}

#side-bar .nav-link.active {
    font-weight: bold;
    color: var(--automoblox-red);
}